<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>NOTEBOOK</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' media="(min-width:651px)"  href='main.css'>
    <link rel="stylesheet" media="(max-width:650px)" href="main2.css">
    <script src="notebookJS.js"></script>

</head>
<body>
    <div class="navbar">
       
        <img class="nb" src="logo_transparent.png" alt="NOTEBOOK">
        <input type="text" placeholder="Search..">
        <img class="profile" src="./img_avatar.png" alt="Avatar">
        <div class="name">Mr. XYZ</div>
      </div>



      <!-- The sidebar -->
      <div class="filter">
      New Document
      </div>
      

<div class="sidebar">
   
  <img src="new_doc.png" alt="image" class="macimage">
        <input type="newdoc" id="newdoc" name="newdoc" value="New Document" onclick="redirect()">
        <label for="newdoc"> </label><br></p>
</div>

<div class="cardsbox">
  <h3>Recent Documents</h3>
  
      <div class="card">
            <img src="doc_placeholder.png" alt="image" class="macimage">
            
            <p>Document 1</p>
            
           
            
        </div>

        <div class="card">
                <img src="doc_placeholder.png" alt="image" class="macimage">
               
                <p>Document 2</p>
                
                
        </div>

        <div class="card">
                    <img src="doc_placeholder.png" alt="image" class="macimage">
                   
                    <p>Document 3</p>
                    
                   
        </div>

        <div class="card">
                        <img src="doc_placeholder.png" alt="image" class="macimage">
                       
                        <p>Document 4</p>
            
                     
        </div>
         <div class="card">
                        <img src="doc_placeholder.png" alt="image" class="macimage">
                       
                        <p>Document 5</p>
            
                      
         </div>
         <div class="card">
          <img src="doc_placeholder.png" alt="image" class="macimage">
         
          <p>Document 6</p>

        
          </div>
          <div class="card">
            <img src="doc_placeholder.png" alt="image" class="macimage">
           
            <p>Document 7</p>
  
          
            </div>

         
       
        </div>

 
</div>
</body>
</html>

