<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>NOTEBOOK</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' media="(min-width:651px)"  href='/stylesheets/main.css'>
    <link rel="stylesheet" media="(max-width:650px)" href="/stylesheets/main2.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/javascript/notebookJS.js"></script>

    <script type="text/javascript">
      
      function populate(){
        console.log("PLS");
        var i = document.createElement("div");
        
      }
      // $(document).ready(() => {
      //   $.ajax({
      //       url: '/notebook.html',
      //       type: 'POST',
      //       dataType: 'html',
      //       complete: function(data) {
      //           console.log(data);
      //       }
      //   })
      // })
    </script>

</head>
<body>
    <div class="navbar">
       
        <img class="nb" src="/images/logo_transparent.png" alt="NOTEBOOK">
        <input type="text" placeholder="Search..">
        <img class="profile" src="/images/img_avatar.png" alt="Avatar">
        <a class="name" href="/dashboard"><!--Email--></a>
      </div>



      <!-- The sidebar -->
      <div class="filter">
      New Document
      </div>
      

<div class="sidebar">
   
  <img src="/images/new_doc.png" alt="image" class="macimage">
    <form class="form" action="/notebook/redirectnewdoc" method="POST">
    
        <button type="submit" id="newdoc" name="newdocc">New Document</button>
        <label for="newdoc"> </label><br></p>
      </form>
</div>

<div class="cardsbox" id="boxcards">
  <h3 onload="what()">Recent Documents</h3>
  <!-- <div class="card">
    <img src="doc_placeholder.png" alt="image" class="macimage">
    <p>Document 1</p>
  </div>

  <div class="card">
    <img src="doc_placeholder.png" alt="image" class="macimage">
    <p>Document 2</p>
  </div>

  <div class="card">
    <img src="doc_placeholder.png" alt="image" class="macimage">
    <p>Document 3</p>       
  </div>

  <div class="card">
    <img src="doc_placeholder.png" alt="image" class="macimage">
    <p>Document 4</p>     
  </div>

  <div class="card">
    <img src="doc_placeholder.png" alt="image" class="macimage">
    <p>Document 5</p>      
  </div>

  <div class="card">
    <img src="doc_placeholder.png" alt="image" class="macimage">
    <p>Document 6</p>
  </div>

  <div class="card">
    <img src="doc_placeholder.png" alt="image" class="macimage">
    <p>Document 7</p>
  </div> -->
</div>

 
</div>
</body>
</html>

